body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Book.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /
}

h1 {
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#search {
    flex: 2;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sort {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.book-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.pagination-controls {
    text-align: center;
    margin-top: 20px;
}

.pagination-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.loader {
    text-align: center;
    padding: 20px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}
